body{
    margin: 0px;
    background-image: url("back.png");
    background-size:cover;
    background-repeat: no-repeat;
}
#form-container{
    width:55vw;
    height:100%;
    margin: auto;
    border: 1px solid black;
    /* background-image: linear-gradient(-33deg,red -49%,white 51%,black 175%); */
    background-image: linear-gradient(white,white);
}

.input{
    /* border: 1px solid red; */
    margin: 2%;
    
    
}
.input ::placeholder{
    font-size: 15px;
    
}
.input input{
    margin: 5px;
    border-radius: 10px;
    border:1px solid gray;
    height: 25px;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.input-number input{

    width: 120px;
    font-family: 'Roboto Mono', monospace;
}
.input-email input{
    width:337px;
}
.input-fav input{
    width:167px;
}
#gender-option{
    margin: 0px;
    padding: 0px;
    color: #9933ff;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
}
.input-age input{
    width:50px;
    
}
.input-age {
    display: inline-block;
}
.input-gender{
    display: inline-block;
}
.input-gender input{
    padding: 0px;
    margin: 0px;
    position: relative;
    top:6px;
}
.input-eight input{
    margin: 0px;
}
input[type=number] {
    -moz-appearance: textfield;
}
.input span{
    font-size: 167%;
    font-family: 'Acme', sans-serif;
    color:#1a75ff;
    letter-spacing: 1.5px;
}
.disription-box{
    width:100%;
    /* border: 1px solid yellow; */
    height:28vh;
}
.discription-content{
    /* border: 1px brown solid; */
    height: 100%;
}
.discription-content span{
    margin:2%;
    font-size: 167%;
    font-family: 'Acme', sans-serif;
    color:#1a75ff;
    display: block;
}
.discription-content input{
    width: 67%;
height: 67%;
margin-left: 2%;
}
.discription-content ::placeholder{
    text-align:inherit;
}
#textarea{
    width:50%;
    height: 52%;
    resize: none;
    margin-left: 2%;
    text-align: left;
}
.discription-content ::placeholder {
    color: black;
    opacity: 0.8;
  }
button{
    padding: 7px;
    width: 98px;
    height: 39px;
    border-radius: 10px;
    border: none;
    background-color: #00b3b3;
    color: white;
    font-size: 21px;
    font-family: 'Lora', serif;
    margin: auto;
    display: block;
  }
