<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="form-container">
         <form action="/home" method="POST">

    <div class="input">
        <div class="input-name">
        <span>Name:</span>
        <input type="text" name="name" placeholder="type ur name" >
        </div>
    </div>

    <div class="input">
    <div class="input-number">
            <span>Phone:</span>
        <input type="number" name="number" placeholder="type number">
        </div>
    </div> 

    <div class="input">
        <div class="input-email">
            <span>E-mail:</span>
            <input type="email" name="email" placeholder="abc@mail.com">
        </div>
    </div> 

    <div class="input">
        <div class="input-age" >
            <span>Age:</span>
            <input type="number" name="age" >
        </div>

    <!-- </div>

    <div class="input"> -->
    <div class="input-gender">
            <span>Gender:</span>
            <p id="gender-option">
            <input type="radio" name="gender" value="male">male:
            <input type="radio" name="gender" value="female">female:
           <input type="radio" name="gender" value="trans"> transgender:
          </p> 
        </div>
    </div>
    
    <div class="input">
        <div class="input-qualification">
            <span>Qualification:</span>
            <select name="qualification" id="qualification-id">
                <option value="10" name="10">10<sup>th</sup></option>
                <option name="12" selected>12<sup>th</sup></option>
                <option name ="graduate">Graduate</option>
            </select>
        </div>
    </div> 

    <div class="input">
        <div class="input-eight">
                <span>Are you 18+</span>
            <input type="checkbox" name="eight">
            </div>
        </div> 
    <div class="input">
        <div class="input-fav">
            <span>Whose is your favuroite actor or actoress: </span>
            <input type="text" name="fav"  placeholder="type here!!">
        </div>
    </div>    
    




    <div class="input">
        <div class="input-mood">
            <span>are you enjoying it:</span>
        <select name="mood" id="mood-id">
            <option name="no">no</option>
            <option name="yes" selected>yes</option>
        </select>
        </div>
    </div>
    
    <div class="disription-box">
        <div class="discription-content">
            <span>write a message!</span>
            <textarea id="textarea" name="discription" placeholder="Enter text here..."></textarea>
            
        </div>
    </div>
      
    <div class="input">
        <div class="input-button">
        <button type="submit">SUBMIT </button>
        </div>
    </div>
    
    </div>
   
    
        </form>
     </div>
   
</body>
</html>